#previewDialog .modal-body > div {
  max-width: 60vw;
  display: flex;
  justify-content: center;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

audio {
  width: 20rem;
  height: 2rem;
}
